<section id="appointment">
  <div class="container">
    <h1>Make an appointment</h1>
    <form>
      <input type="email" placeholder="Enter Email...">
      <button type="submit" class="button_1">Request an appointment</button>
    </form>
  </div>
</section>

<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <p>
        OnClinic is focused on being an independent Critical Access Hospital
        and Rural Health Clinic that improves the health of those we serve.

        Through prudent management of its staff and facilities and relationships with regional providers,
        OnClinic provides a wide range of medical services while operating in a cost effective manner.

        OnClinic staff takes individual and collective responsibility for its actions and works as a
        cooperative, integrated team that uses its skills for the benefit of the patient and
        organization.
      </p>
      <p class="dark">
        Through the years we have helped generation after generation reach better health. Our organization has been striving to serve the needs of our region since we were established. We here at OnClinic are loyal to our community and will continue to strive for excellence in healthcare.
      </p>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>Explore our Website</h3>
        <p>We welcome you to explore our website and health information programming anytime you need additional information regarding you or your loved one's health. Please be sure to contact us if we can help you in any way.

      </div>
    </aside>
  </div>
</section>
