
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Affordable and professional medical care">
  <meta name="keywords" content="medical care, affordable medical care, professional medical care">
  <meta name="author" content="Kazybek and Aidyn">
  <title>OnClinic| Welcome</title>


<header>
<div class="container">
  <div id="branding">
    <h1><span class="highlight">OnClinic</span> Clinic and Pharmacy</h1>
  </div>
  <nav>
    <ul>
      <li class="current"><a routerLink=''>Home</a></li>
      <li><a routerLink='/about'>About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/login">Log In</a></li>
    </ul>
  </nav>
</div>
</header>
