<section id="appointment">
  <div class="container">
    <h1>Make an appointment</h1>
    <form>
      <input type="email" placeholder="Enter Email...">
      <button type="submit" class="button_1">Request an appointment</button>
    </form>
  </div>
</section>

<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">Services</h1>
      <ul id="services">
        <li>
          <h3>Acute Care</h3>
          <p>OnClinic is a Critical Access Hospital providing primary, preventive and emergency health care services. The acute care component of OnClinic's services is comprised of 10 designated swing beds (may be used for either acute or long term care). Also available is a 24-hour emergency room services and full service lab and x-ray departments.

        </li>
        <li>
          <h3>Laboratory and X-Ray</h3>
          <p>OnClinic has both laboratory and X-Ray capabilities on site. The lab is available for both in-patient and out-patient services. It is also convenient to the patients of the OnClinic Family Medicine Clinic.

        </li>
        <li>
          <h3>Emergency Care</h3>
          <p>The OnClinic area offers a wide variety of outdoor recreational opportunities - hunting, camping, hiking, backpacking, downhill and cross country skiing, snowmobiling, horseback riding and rafting are just of few. With the ruggedness of the environment and the number of outdoor enthusiasts, accidents can happen.

        </li>
      </ul>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>Request a consultation</h3>
        <form class="quote">
          <div>
            <label>Name</label><br>
            <input type="text" placeholder="Name">
          </div>
          <div>
            <label>Email</label><br>
            <input type="email" placeholder="Emial Address">
          </div>
          <div>
            <label>Message</label><br>
            <textarea placeholder="Message"></textarea>
          </div>
          <button class="button_1" type="submit">Send</button>
        </form>
      </div>
    </aside>
  </div>
</section>
