<section id="showcase">
  <div class="container">
    <h1>Affordable Professional Medical Care</h1>
    <p>We always provide our best services for our clients and always try to achieve our client's trust and satisfaction</p>
  </div>
</section>

<section id="appointment">
  <div class="container">
    <h1>Make an appointment</h1>
    <form>
      <input type="email" placeholder="Enter Email...">
      <button type="submit" class="button_1">Request an appointment</button>
    </form>
  </div>
</section>

<section id="boxes">
  <div class="container">
    <div class="box">

      <h3>Free consultation</h3>
      <p>Get your free consultation right now</p>
    </div>
    <div class="box">

      <h3>Latest technology</h3>
      <p>Our clinic use only latest technologies in order to please our visitors</p>
    </div>
    <div class="box">

      <h3>24/7 Hours service</h3>
      <p>Professional medical care at any time</p>
    </div>
  </div>
</section>
